h1 {
  font-size: medium;
}

nav {
  margin: 15px;
}

.item_nav {
  margin-right: 5em;
  padding: 7px;
  background-color: oldlace;
  border: 2px solid grey;
  border-radius: 2px;
}

h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

section {
  margin: 0;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
}

article {
  flex: 300px;
}

.documento {
  margin: 10px;
  padding: 1em;
  background-color: whitesmoke;
  min-height: 120px;
}

.documento_imagen {
  float: left;
  margin-right: 10px;
}

.documento_ficha {
  float: none;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
